{
  "name": "challenge-app",
  "version": "1.0.0",
  "description": "A sample Node.js app using Express 4",
  "main": "app.js",
  "scripts": {
    "start": "node app.js"
  },
  "dependencies": {
    "yargs": "^9.0.1",
    "memcached": "^2.2.2",
    "mysql": "^2.14.1"
  },
  "engines": {
    "node": "4.0.0"
  },
  "author": "Luciano Furtado",
  "license": "MIT"
}
